In [3]:
import talib as ta
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
import yfinance as yf

In [5]:
# Fetch historical data  
data = yf.download('INFY.NS', start="2018-01-01", end="2020-12-31")

# Download file ‘data’ in csv format to reuse infosys data   
data.to_csv("Infy-His-data2018-20.csv", index=True, encoding='utf8')

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,518.849976,522.250000,515.000000,516.775024,474.472595,5431340
2018-01-02,518.625000,521.000000,511.500000,514.849976,472.705139,6112248
2018-01-03,514.250000,515.799988,509.299988,510.649994,468.848938,6846552
2018-01-04,510.500000,510.500000,504.799988,507.700012,466.140472,8947614
2018-01-05,507.649994,513.200012,503.000000,506.000000,464.579559,11025976